<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Application Submitted</title>
  </head>
  <body
    style="
      margin: 0 !important;
      padding: 0 !important;
      background-color: #ffffff !important;
      color: #000000 !important;
      font-family: Arial, sans-serif !important;
    "
  >
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      style="background-color: #ffffff; padding: 20px"
    >
      <tr>
        <td align="center">
          <table
            width="100%"
            cellpadding="0"
            cellspacing="0"
            style="
              max-width: 600px !important;
              border: 1px solid #e0e0e0 !important;
              border-radius: 8px !important;
              box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05) !important;
            "
          >
            <tr>
              <td
                style="
                  background-color: #747474 !important;
                  padding: 20px !important;
                  text-align: center !important;
                  color: #ffffff !important;
                "
              >
                <img
                  src="https://api.fcadvance.com/assets?file=logo.jpg"
                  alt="logo"
                  width="200px"
                  style="margin: 30px 0px !important"
                />
                <h1 style="margin: 0 !important; font-size: 24px !important">
                  Application Submitted
                </h1>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 30px !important;
                  text-align: left !important;
                  color: #000000 !important;
                "
              >
                <p
                  style="
                    font-size: 14px !important;
                    line-height: 1.5 !important;
                    letter-spacing: 0.5px !important;
                  "
                >
                  Application has been successfully submitted on {{created_at}}.
                  Application has been received and it is currently being
                  reviewed. Thank you for taking the time to complete the
                  application.
                </p>
                <h3
                  style="
                    font-size: 18px !important;
                    font-weight: bold !important;
                    text-align: center !important;
                    text-transform: uppercase !important;
                  "
                >
                  Submission Details
                </h3>
                {{rep_details}}
                <h3>Application submitted by:</h3>
                <p
                  style="
                    font-weight: bold !important;
                    margin: 0 !important;
                    padding: 0 !important;
                    margin-bottom: 5px !important;
                    font-size: 14px !important;
                  "
                >
                  Full Name:
                  <span style="font-weight: normal !important"
                    >{{full_name}}</span
                  >
                </p>
                <p
                  style="
                    font-weight: bold !important;
                    font-size: 14px !important;
                    margin: 0 !important;
                    padding: 0 !important;
                  "
                >
                  Email:
                  <span style="font-weight: normal !important">{{email}}</span>
                </p>
                <p
                  style="
                    font-size: 14px !important;
                    color: gray !important;
                    margin: 20px 0px !important;
                  "
                >
                  Click on download button to view the application:
                </p>
                <a
                  href="{{download_url}}"
                  style="
                    font-size: 14px !important;
                    text-decoration: none !important;
                    color: white !important;
                    background-color: #747474 !important;
                    padding: 10px 15px !important;
                    border-radius: 5px !important;
                    display: block !important;
                    width: fit-content !important;
                    margin: 10px auto !important;
                    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25) !important;
                  "
                >
                  Download Application PDF
                </a>
              </td>
            </tr>
            <tr>
              <td
                style="
                  background-color: #f9f9f9;
                  padding: 20px;
                  text-align: center;
                  font-size: 12px;
                  color: #777777;
                "
              >
                In case of any query, feel free to contact support.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
