<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Rep Credentials</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      background-color: #ffffff;
      color: #000000;
      font-family: Arial, sans-serif;
    "
  >
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      style="background-color: #ffffff; padding: 20px"
    >
      <tr>
        <td align="center">
          <table
            width="100%"
            cellpadding="0"
            cellspacing="0"
            style="
              max-width: 600px;
              border: 1px solid #e0e0e0;
              border-radius: 8px;
              box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
            "
          >
            <tr>
              <td
                style="
                  background-color: #747474;
                  padding: 20px;
                  text-align: center;
                  color: #ffffff;
                "
              >
                <img
                  src="https://api.fcadvance.com/assets?file=logo.jpg"
                  alt="logo"
                  width="200px"
                  style="margin: 30px 0px"
                />
                <h1 style="margin: 0; font-size: 24px">Your Rep Credentials</h1>
              </td>
            </tr>
            <tr>
              <td style="padding: 30px; text-align: left; color: #000000">
                <p style="font-size: 16px">
                  Your Rep ({{name}}) credentials are:
                </p>
                <p
                  style="
                    font-size: 16px;
                    padding-top: 20px;
                    display: block !important;
                  "
                >
                  Email: <strong>{{email}}</strong>
                </p>
                <p style="font-size: 16px">
                  Password: <strong>{{password}}</strong>
                </p>
                <a
                  href="{{url}}"
                  style="
                    font-size: 14px;
                    text-align: left;
                    padding: 10px 0px !important;
                    display: block !important;
                  "
                >
                  View Rep Dashboard
                </a>
                <p style="font-size: 16px">
                  Thank you,<br /><strong>FC Advance</strong>
                </p>
              </td>
            </tr>
            <tr>
              <td
                style="
                  background-color: #f9f9f9;
                  padding: 20px;
                  text-align: center;
                  font-size: 12px;
                  color: #777777;
                "
              >
                In case of any query, feel free to contact support.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
